.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 43px;
}

.info {
    background-color: white;
    margin-top: 2em;
}

.detail {
    background-color: white;
    width: 30%;
}

.text{
    text-align: center;
}

img {
    vertical-align: middle;
    border-style: none;
    width: 60%;
    height: 30%;
    padding-bottom: 15px;
    padding-top: 51px;
}

.div{
    width: 30%;
}