body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f3f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.box{
  margin-top: 226px;
  margin-left: 100px;
  margin-right: 10px ;
}

.btn-light {
  color: #212529;
  background-color: white;
  border-color: white;
  margin-top: 9px;
  width: 10%;
}

.recharge {
  background-color: white;
  margin-top: 8em;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 70%;
}